<body class="inventory-body">
    <div class="container">
        <div class="jumbotron anyClass">
            <div id="divLogin">
                <h3>REGISTRACIJA</h3>
                <br>
                <div>

                    <form method="post">
                        <div class="form-group row ">
                            <div class="col-4">
                                <label>Ime:</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite ime" [(ngModel)]="korisnik.ime"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Prezime:</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite prezime" [(ngModel)]="korisnik.prezime"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>E-mail:</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite e-mail" [(ngModel)]="korisnik.email"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Adresa: </label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite adresu" [(ngModel)]="korisnik.adresa"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Grad: </label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite grad" [(ngModel)]="korisnik.grad"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Država:</label>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Unesite državu" [(ngModel)]="korisnik.drzava"
                                    [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Broj telefona:</label>
                            </div>
                            <div class="col-6">
                                <input type="number" class="form-control" placeholder="Unesite broj telefona"
                                    [(ngModel)]="korisnik.brojTelefona" [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label>Jedinstveni broj:</label>
                            </div>
                            <div class="col-6">
                                <input type="number" class="form-control" placeholder="Unesite broj"
                                    [(ngModel)]="korisnik.jedinstveniBroj" [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label for="pwd">Lozinka:</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control provjeraPrazno" placeholder="Unesite lozinku"
                                    [(ngModel)]="korisnik.password" [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label for="pwd">Ponovite lozinku:</label>
                            </div>
                            <div class="col-8">
                                <input type="password" class="form-control provjeraPrazno" id="lozinka"
                                    placeholder="Ponovo unesite lozinku">
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-6">
                                <button type="submit" (click)="registujSe()" class="btn btn-primary ">Registruj
                                    se</button>
                                <button (click)="odustani()" class="btn btn-secondary">Odustani</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>