<body class="inventory-body">
    <div class="container">
        <div class="jumbotron anyClass">

            <div>
                <h2>Lista dostupnih pregleda </h2>
                <br>
                <table class="table"  sortable-table (sorted)="onSorted($event)">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Redni broj</th>
                            <th sortable-column="ime" style="text-align: center;" >Ime</th>
                            <th style="text-align: center;">Adresa</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let a of klinike; let i = index">
                        <tr>
                            <th style="text-align: center;" scope="row">{{i+1}}</th>
                            <td style="text-align: center;">{{a.ime}}</td>
                            <td style="text-align: center;">{{a.adresa}}</td>


                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="ime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
                  <td mat-cell *matCellDef="let element"> {{element.ime}} </td>
                </ng-container>
               
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table> -->

        </div>


    </div>

</body>