<body class="inventory-body">
    <div class="container">
        <div class="jumbotron anyClass">
            <div class="row" style="max-width: 90%; margin: 0 auto; ">
                <h2 text-align="center">Zakazivanje pregleda</h2>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Datum pregleda:</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
                                <input class="form-control" type="date" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tip pregleda:</label>
                            <select class="form-control" [(ngModel)]="pregled">
                                <option *ngFor="let pregled of sviTipoviPregleda" [ngValue]="pregled">
                                    {{pregled.ime}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="datumPovratka">Ocjena klinike:</label>
                            <select class="form-control" id="kategorijaIzmjena">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endDestination">Lokacija klinike: </label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-map-marker"></i></span>
                                <input class="form-control" type="text" id="lokacijaKlinike" required="required">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-11">
                        <button type="button " (click)="pretraziKlinike()" style="margin-left:40%;margin-right:30%;"
                            class="btn btn-primary">Pretraži
                            klinike</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <table class="table sortable-table" *ngIf="prikazTabeleKlinike == true">
                <thead>
                    <tr>
                        <th style="text-align: center;">Ime</th>
                        <th style="text-align: center;">Opis</th>
                        <th style="text-align: center;">Lokacija</th>
                        <th style="text-align: center;">Ocjena</th>
                        <th style="text-align: center;">Cijena</th>
                    </tr>
                </thead>
                <tbody *ngFor="let klinika of klinike">
                    <tr>
                        <td style="text-align: center;">{{klinika.ime}}</td>
                        <td style="text-align: center;">{{klinika.opis}}</td>
                        <td style="text-align: center;">{{klinika.grad}}</td>
                        <td style="text-align: center;">{{klinika.ocjena}}</td>
                        <td style="text-align: center;">{{cijena}}</td>
                        <td style="text-align: center;"><button class="btn btn-link"
                                (click)="prikaziLjekare(klinika)">Prikaži ljekare</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row" *ngIf="prikazTabeleLjekara == true">
                <h3>Spisak ljekara</h3>
                <br>
                <table class="table sortable-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Ime </th>
                            <th style="text-align: center;">Prezime</th>
                            <th style="text-align: center;">Ocjena</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let ljekar of ljekari">
                        <tr>
                            <td style="text-align: center;">{{ljekar.ime}}</td>
                            <td style="text-align: center;">{{ljekar.prezime}}</td>
                            <td style="text-align: center;">{{ljekar.ocjena}}</td>
                            <td style="text-align: center;"><button class="btn btn-link"
                                    (click)="zakaziPregled(ljekar)">Zakaži pregled</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="max-width: 90%; margin: 0 auto;" *ngIf="prikazTabeleLjekara == true">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ime </label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-text-size"></i></span>
                                <input class="form-control" type="text" id="imeLjekara">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Prezime</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-text-size"></i></span>
                                <input class="form-control" type="text" id="prezimeLjekara">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="datumPovratka">Ocjena ljekara</label>
                            <select class="form-control" id="kategorijaIzmjena">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-11">
                        <button type="button " (click)="pretraziLjekare()" style="margin-left:40%;margin-right:30%;"
                            class="btn btn-primary">Pretraži
                            Ljekare</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>